@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko&display=swap");
/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 1em;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
